.searchField {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  background-color: var(--bg-color);
  padding: 10px;
  color: var(--pimary-color);

  a {
    cursor: pointer;
  }
}

.searchWrapper {
  padding: 24px;
  width: 100%;
  max-width: 1280px;
}

.hint {
  margin-top: 0;
  color: #bcbcbc;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .searchField {
    width: 95%;
  }
}
