.searchField {
  display: flex;
  justify-content: space-between;
  border: 1px solid #007cf0;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #3a3256,
    #433466,
    #4d3476,
    #5a3485,
    #683193
  );
  padding: 10px;
  width: 100%;
  /* width: 80%; */
  max-width: 800px;
}
