.repo_list {
  display: flex;
  flex-direction: column;
}

.repos_info {
  text-align: left;
}

.repos_list_wrapper {
  padding: 1rem;
  text-align: left;
}
.tabname_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}
.tabname {
  cursor: pointer;
  margin: 3px 6px;
  padding: 2px 15px;
  padding-bottom: 1px;
}

.tabname:first-child {
  margin-left: 10px;
}

.active {
  position: relative;
  z-index: 10;
  border: 1px solid color-mix(in srgb, var(--primary-color) 40%, transparent);
  border-radius: 15px;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
