.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 860px) {
  .contentWrapper {
    flex-direction: column;
    padding: 8px;
  }
}
