.contentWrapper {
  display: grid;
  grid-template-columns: clamp(320px, 40vw, 530px) 1fr;
  gap: 16px;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 800px) {
  .contentWrapper {
    grid-template-columns: 1fr;
    padding: 8px;
  }
}
