.repo_list_item {
  position: relative;
  border-top: 1px solid
    color-mix(in srgb, var(--primary-color) 40%, transparent);
  padding-top: 1rem;
  padding-bottom: 2rem;
  /* padding: 1rem; */
  width: 100%;
}
.repo_list_item:first-child {
  border-top: 1px solid transparent;
}

.repo_language {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 3px;
  background-color: var(--bg-color);
  background-color: rgba(22, 78, 99, 0.2);
  padding: 3px 6px;
  font-size: 10px;
}

.repo_name {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 5px;
  width: 80%;
  text-align: left;
  word-break: break-word;
}
.repoNameFull {
  /* width: 100%; */
}
.number {
  font-size: 11px;
}
a {
  border-bottom: 1px solid transparent;
}
.repo_homepage {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary-color);
  font-size: 0.8rem;
}
.repo_description {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  text-align: left;
  word-break: break-word;
}

.repo_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.repo_footer_numbers {
  display: flex;
  align-items: center;
  gap: 5px;
}
