.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
	/* gap: 12px; */
	border-bottom: 1px solid #3154a7;
	background-image: linear-gradient(to right,
			#271a3f,
			#2e1e4a,
			#352355,
			#3c2760,
			#432c6c);
	padding: 20px;
	width: 100%;
	color: #ffffff;

	p {
		/* margin-left: auto; */
	}
}

.left {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.icon {
	background-color: #eb44ae;
	padding: 10px;
	border-radius: 10px;
}
