.section_header {
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: left;
}
@media (max-width: 800px) {
  .section_header {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    background: rgba(22, 78, 99, 0.3);
  }
}
