:root {
  font-family: "Inter", system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #0f172a;
  --bg-color: #f8fafc;
  --shadow-small: rgba(0, 0, 0, 0.15) 0px 1px 1px;
  --accent-blue: #2563eb;
}

[data-theme="dark"] {
  --primary-color: #e2e8f0;
  --bg-color: #1e293b;
  --shadow-small: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: 0;
  background-color: var(--bg-color);
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  color: var(--primary-color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: inherit;
}
