.mainInfo {
  padding: 20px;
  width: 100%;
  color: #ffffff;
}

.portrait {
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  max-width: 100px;
}

.user_full_name {
}

.user_login {
  margin-top: 0;
  margin-bottom: 0;
}

.user_location,
.user_joined,
.user_blog {
  margin: 0;
}

.user_bio {
  margin-top: 20px;
  margin-bottom: 0;
}

.user_footer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.user_metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.pictogram {
  aspect-ratio: 1 / 1;
  width: 20px;
}

.upper_part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-image: linear-gradient(
    to right bottom,
    #432c6c,
    #4f2e76,
    #5c2e80,
    #692e89,
    #782d92
  );
  padding: 30px;
  padding-bottom: 10px;
  max-width: 100%;
  text-align: left;
}

.lower_part {
  border: 1px solid #333333;
  border-top: none;
  padding: 30px;
}

.number {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
